<app-header></app-header>
<div class="limiter">
    <div class="container-login100 bg">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-logo">
          <i class="zmdi zmdi-landscape"></i>
        </span>

                <span class="login100-form-title p-b-20 p-t-10">Welcome - {{this.username}}</span>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="goBack()">Back</button>
                    <!-- <button class="login100-form-btn" (click)="logOut()">LogOut</button> -->
                </div>

            </form>
        </div>
    </div>
</div>